@font-face {
    font-family: "Aeonik-Regular";
    src: url(../resources/fonts/Aeonik-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------------ THEME / COLORS */

:root {
    --obsidian: #111111;
    --stone: #7a7a78;
    --canvas: #f4f4f4;

    --ocean: #83a1cd;
    --sun: #ff674d;

    --general-padding: 25px;

}

.color-obsidian {
    color: var(--obsidian);
}

.color-canvas {
    color: var(--canvas);
}

.color-ocean {
    color: var(--ocean)
}

.color-sun {
    color: var(--sun)
}

.color-stone {
    color: var(--stone)
}

.general-padding {
    padding: var(--general-padding);
}

h1, h2, h3, h4, h5, h6, a, p {
    color: var(--stone);
    text-decoration: none;
    transition: 300ms;
}

a:hover {
    text-decoration: none;
    color: var(--ocean);
}

body {
    font-family: "Aeonik-Regular";
    background-color: var(--canvas);
}

.hr-alt {
    height: 2px;
    padding: 0;
    margin: 0;
    color: var(--stone);
    background-color: var(--stone);
    display: flex;

}

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
/* ------------------------------------ NAV */

nav {
    position: fixed;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--general-padding);
    z-index: 1000;
}



.nav-link {
    font-size: 2em;
    color: var(--canvas);
    transition: 300ms;
}

.nav-link:hover {
    color: var(--ocean);
}

@media (max-width: 1000px) {
    nav {
        background-color: var(--canvas);
        padding: 10px;
        height: 50px;
    }
    .nav-link {
        color: var(--stone);
        font-size: 1.5em;
    }
}

#menu-container {
    padding: 50px;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateY(-25vh);
    transition: 500ms;
    /* display: none; */
}
#menu-open {
    /* display: none; */
    transition: 300ms;
}

#menu-open:hover {
    color: var(--ocean);
    cursor: pointer;
}

#menu-close {
    position: fixed;
    top: 0;
    right: 0;
    transition: 300ms;
}

#menu-close:hover {
    color: var(--ocean);
    cursor: pointer;
}


@media (max-width: 600px) {

    #menu-container {
        padding: 0;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        height: 25vh;
    }

}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--stone);
    display: block;
}

/* ------------------------ EXPLORE BY TOPICS  */

.topics-bar {
    padding: 20px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.topics-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topics-explore-btn {
    font-size: 1.5em;
    font-weight: 200;
}

#architecture-container {
    background-color: var(--canvas);
    transition: 2000ms;
}

#objects-container {
    background-color: var(--canvas);
    transition: 2000ms;
}

#philosophies-container {
    background-color: var(--canvas);
    transition: 2000ms;
}

#photography-container {
    background-color: var(--canvas);
    transition: 2000ms;
}

#architecture-container:hover {
    cursor: pointer;
}

#objects-container:hover {
    cursor: pointer;
}

#philosophies-container:hover {
    cursor: pointer;
}

#photography-container:hover {
    cursor: pointer;
}





.gallery-container {
    height: 100vh;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gallery {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.gallery-item-container {
    height: 100vh;
    width: 100%;
    /* display: flex; */
}

.gallery-item {
    height: 100vh;
}

.gallery-item:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .gallery {
        margin-top: 100px;
        flex-direction: column;
        overflow: visible;
        height: 100vh;
    }
    .gallery-item-container {
        height: auto;
    }
    .gallery-item {
        height: auto;
        width: 100%;
    }
}