@font-face {
    font-family: "Aeonik-Regular";
    src: url(../resources/fonts/Aeonik-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------------ THEME / COLORS */

:root {
--canvas: #f4f4f4;
--white: #ffffff;
--stone: #7a7a78;
--dark-stone: #474745;

--ocean: #83a1cd;
--sun: #b55122;

--general-padding: 25px;

}


.color-canvas {
    color: var(--canvas);
}
.color-ocean {
    color: var(--ocean)
}

h1, h2, h3, h4, h5, h6, a, p {
    color: var(--stone);
    text-decoration: none;
    transition: 300ms;
}

a:hover {
    text-decoration: none;
    color: var(--ocean);
}

body {
    font-family: "Aeonik-Regular";
    background-color: var(--canvas);
}

.hr-alt {
    height: 2px;
    padding: 0;
    margin: 0;
    color: var(--stone);
    background-color: var(--stone);
    display: flex;

}

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
/* ------------------------------------ NAV */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--general-padding);
    /* border: #b55122 solid 2px; */

}

.menu-dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 5px var(---stone);
    background-color: var(--stone);
}

#menu-container {
    padding: 50px;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateY(-25vh);
    transition: 500ms;
    /* display: none; */
}
#menu-open {
    /* display: none; */
    transition: 300ms;
}

#menu-open:hover {
    color: var(--ocean);
    cursor: pointer;
}

#menu-close {
    position: fixed;
    top: 0;
    right: 0;
    transition: 300ms;
}

#menu-close:hover {
    color: var(--ocean);
    cursor: pointer;
}


@media (max-width: 600px) {

    #menu-container {
        padding: 0;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        height: 25vh;
    }

}

/* ------------------------------------ INDEX  */

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--stone);
    display: block;
}



/* ------------------------ HERO  */

.hero-container {
    padding: var(--general-padding);
    height: 100vh;
    width: 100%;
}

.hero-title {
    height: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
}

/* ------------------------ SECTIONS  */

.section-container {
    padding: var(--general-padding);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-bar {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

.section-text {
    position: relative;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.5em;
}

/* ------------------------ EXPLORE BY TOPICS  */

.topics-bar {
    padding: 20px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.topics-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topics-explore-btn {
    font-size: 1.5rem;
    font-weight: 200;
}


/* ------------------------------------ FOOTER  */

footer {
    background-color: var(--dark-stone);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--general-padding);
}